
.featured {
        font-family: 'Poppins';
    width: 100%;
    padding: 8rem 0;
    background-color: rgb(241, 239, 239);
}

.featured h1 {
    font-weight: 800;
}
.featured .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 1% 6%; 
}

.featured .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
}

.featured .btn {
    background: #8c00ff;
    border:#8c00ff;
    border-radius: 30px;
    width: 60%;
    }



.featured .right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.featured .right .card {
    display: flex;
    flex-direction: column;
    padding: 12px 22px;
    margin: .4rem;
    width: 170px;
    height: 205px;
    border-radius: 24px;
    border: 1px solid #d3d3d3;
    box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px;
    text-align: center;
}

.featured .right .card:hover {
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 24px;
}

.featured .card .top {
    display: flex;
    flex-direction: column;
}

.featured .right img {
    width: 50px;
    margin: auto;
    padding: .2rem 0;
}

.featured .icon {
    font-size: 36px;
    margin: auto;
    padding-top: 6px;
    justify-content: center;
    align-items: center;
}

.featured span {
    font-size: 22px;
}

.green {
    color: green;
}

.red {
    color: #ff0000;
}

@media screen and (max-width: 940px) {
    .featured .container {
        grid-template-columns: 1fr;
    }

    .featured .left .btn {
        align-self: center;
    }
    .featured .btn {
        background: #8c00ff;
        border:#8c00ff;
        border-radius: 30px;
        width: 100%;
        }
}


@media screen and (max-width: 478px) {
    .featured .container .right .card {
        width: 100%;
    }
}